.NullBoardCell {
  width: 40px;
  height: 40px;
  margin: 1px;
}

.BoardCell {
  position:absolute;

  transition: bottom 0.25s,
    width 0.25s,
    height 0.25s,
    margin 0.25s;

  width: 40px;
  height: 40px;
  margin: 1px;
  color: rgba(0, 0, 0, 0.311);
  border-radius: 6px;
  cursor: pointer;
  // opacity: 50%;

  svg {
    width: 100%;
    height: 100%;

    text{
      text-anchor: middle;
      dominant-baseline: middle;
    }
  }

  &_red, &_cube_red {
    background-color: rgb(207, 82, 82);
  }

  &_green, &_cube_green {
    background-color: rgb(80, 116, 38);
  }

  &_blue, &_cube_blue {
    background-color: rgb(78, 105, 153);
  }

  &_yellow, &_cube_yellow {
    background-color: rgb(255, 252, 72);
  }
  &_purple, &_cube_purple {
    background-color: rgb(179, 50, 151);
  }

  &_orange, &_cube_orange {
    background-color: rgb(193, 127, 27);
  }

  &_weight_1, &_weight_2, &_weight_3 {
    background-color: rgb(24, 165, 186);
    border-radius: 50%;
  }

  &_beachball {
    background-color: rgb(24, 165, 186);
    border-radius: 50%;
  }

  &_remove {
    width: 10px;
    height: 10px;
    margin: 15px;
  }
}